@page "/"

<InputManager>
    <main>
        <h1 class="label">Scape!</h1>

        <p class="label">Move: wasd | 8426 | ↑←↓→<br>Wait: spacebar | 5</p>

        <div class="vert-center">
            <GameView Model="@context" />
        </div>
    </main>
</InputManager>