main {
    background: blue;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.label {
    text-align: center;
    user-select: none;
}

.vert-center {
    display: flex;
    align-items: center;
    justify-content: center;
}